cart-style.css
body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

#heading_cart{
    margin-top: 2%;
    font-weight: 600;
}

.container_main{
    text-align: center;
    background-color: white;
    /* border-radius: 1px solid black; */
}

.cart-header, .cart-footer {
    background-color: white;
    padding: 20px;
    color: #475569;
    font-weight: bold;
    font-size: 29px;
}


.cart-items {
    align-items: center;
    padding: 50px;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px;
}

.cart-item {

    align-items: center;
    justify-content: start; 
    padding: 20px 0;
}

.item-image {
    flex-shrink: 0; /* Prevents the image from shrinking */
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    margin-right: 20px;
    border-radius: 5px;
    object-fit: cover;
}

.item-info {
    flex-grow: 1; /* Allows the info to grow and fill the remaining space */
    display: flex;
    flex-direction: column; /* Stacks the information vertically */
    justify-content: center; /* Centers the information vertically */
}

.item-info h2,
.item-info p {
    margin: 0; /* Removes default margins */
}

.item-info h2 {
    
    color: #475569;
    font-size: 18px;
    margin-bottom: 5px; /* Adds some space below the heading */
}

.item-info p {
    font-size: 14px;
    color: #666; /* Slightly lighter text for the price */
}

.item-actions {
    margin-left: auto; /* Pushes actions to the right */
    display: flex;
    align-items: center;
}

button {
    background-color: #c40b0b;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    color: #252525;
    background-color: #fef4ec;
}

.price-details {
    text-align: right;
    padding: 20px;
    border-top: 1px solid #cbd5e1;
}

.price-details p {
    font-size: 16px;
    margin: 10px 0;
}

.cart-footer {
    text-align: center;
}

.cart-footer p {
    font-size: 16px;
    color: #475569;
    font-weight: 800;
}

.item-details{
    display: flex;
    flex-direction: row;
}
.item-info{
    padding: 20px;
    margin: 10px;
}

@media (max-width: 580px) {
    .item-details{
        display: block;
    }
    .item-actions {
        justify-content: center;
    }
    
}
.small-container{
    margin-top: 54px;
    text-align: left;
    padding: 5px;
    color: wheat;
    background: black;
    font-weight: normal;
    border-collapse: collapse;
    display: block;
    
}


.small-container.th{
    display: table-cell;
    vertical-align: inherit;
    margin: 12px;
    font-weight: bold;
    text-align: -internal-center;
}
.price-details{
    background-color: #475569;
    color: white;
}
p{
    color: orange;
}